{
  "importOrder": [
    "^react(.*)$",
    "mui/material(.*)",
    "mui/icon(.*)",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "auto"
}