$primary-color: #6667ab !default;
$primary-color-dark1: #51528a !default;
$primary-color-dark2: #2f2f55 !default;
$primary-color-dark3: #292929 !default;
$transition-color: #6da9d2 !default;
$secondary-color: #fa7268 !default;

$black: #292929;
$black-light: #424242;
$black-dark: #101010;

$white: #e6e6e6;
$white-light: #fafafa;
$white-dark: #bdbdbd;

$ans-red: #a30000;
$ans-yellow: #d4b900;
$ans-green: #297373;
$ans-blue: #0e399f;
$ans-pink: #f75590;
$ans-purple: #6d597a;
